* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    height: 100%;
}

body {
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

header {
    background-color: #f3f3f3;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 18px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    color: #163126;
    font-weight: bold;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo::before {
    content: "B";
    width: 32px;
    height: 32px;
    background-color: #5b8a63;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}

.nav-links {
    display: flex;
    gap: 28px;
}

.header-button {
    text-decoration: none;
    color: #5d735d;
    font-size: 0.9rem;
    position: relative;
}

.header-button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: #2f5e3c;
    transition: 0.3s;
}

.header-button:hover::after,
.header-button.active::after {
    width: 100%;
}

.header-button:hover {
    color: #2f5e3c;
}

.burger {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: #2f5e3c;
}

@media (max-width: 768px) {
    .burger {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #f3f3f3;
        padding: 20px;
        border-top: 1px solid #ccc;
    }

    .nav-links.active {
        display: flex;
    }

    .header-button {
        padding: 12px 0;
        font-size: 1rem;
        color: #2f5e3c;
    }
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #f9f9f9;
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
}

.dropdown-content a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: black;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* клас за показване */
.show {
  display: block;
}