* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    font-size: 1.1rem;
    border: 1px solid #333;
}

header {
    background-color: #f3f3f3;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 18px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    color: #163126;
    font-weight: bold;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo::before {
    content: "B";
    width: 32px;
    height: 32px;
    background-color: #5b8a63;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}

.nav-links {
    display: flex;
    gap: 28px;
}

.header-button {
    text-decoration: none;
    color: #5d735d;
    font-size: 0.9rem;
}

.header-button:hover {
    color: #2f5e3c;
}

.burger {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: #2f5e3c;
}

@media (max-width: 768px) {

    .burger {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #f3f3f3;
        padding: 20px;
        border-top: 1px solid #ccc;
    }

    .nav-links.active {
        display: flex;
    }

    .header-button {
        padding: 12px 0;
        font-size: 1rem;
        color: #2f5e3c;
    }
}